 
 
 
 
.root
{    -fx-background-color:FAF0D0;
}
.table-row-cell:hover{
    -fx-background-color: blanchedalmond;
}

.table-row-cell:selected{
    -fx-background-color:  #bf8032;
}

.table-column {
  -fx-alignment: CENTER;
}

 